<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SchiffeVersenken.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchiffeVersenken.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SchiffeVersenken.Properties.Settings>
            <setting name="ShowHelpPreparation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Wins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Loses" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GamesPlayed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FastestWin" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FastestLost" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="BestWin" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WorstLose" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="s_Mine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_MineNum" serializeAs="String">
                <value>4</value>
            </setting>
        </SchiffeVersenken.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SchiffeVersenken.Properties.Settings>
      <setting name="Rules" serializeAs="String">
        <value>The battlefield is 10x10 fields tall. Ships can't touch each other and can't be placed diagonal.

There are different kind of ships:

        &gt; 1x Battleship (5 fields tall)
        &gt; 2x Cruisers (4 fields tall)
        &gt; 3x Destroyers (3 fields tall)
        &gt; 4x Submarines (2 fields tall)

Each player can shoot as long as he hits. After a miss, its the other players turn.</value>
      </setting>
      <setting name="HelpText" serializeAs="String">
        <value>Hold left-mouse-button to drag and drop ships onto the battlefield.

Turn the mouse-wheel to change the orientation of a ship.

Left-click once on an already placed ship to detach it and then click+drag to place it somewhere else.</value>
      </setting>
    </SchiffeVersenken.Properties.Settings>
  </applicationSettings>
</configuration>